In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(1)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0

In [5]:
df = df[ ["text","label_num"] ]
df.head(1)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0

In [6]:
df.iloc[0,0]

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [15]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
# Python, PYTHON, PYtHoN, PYThon
# Python. Python, Python:
import string
from nltk.corpus import stopwords

text = df.iloc[0,0]

text = text.lower()

text = text.translate(str.maketrans('','', string.punctuation))

words = text.split() # Merhaba, Python 3 -> ["Merhaba", "Python 3"] # [Merhaba,Python,3]

words = [ word for word in words if not word.isdigit()  ]

# Stem -> Kelimeleri köküne indir. (Koşuyor->Koş)
# Remove Stopwords -> The,at,is
words = [ word for word in words if word not in stopwords.words("english") ]

words

['subject',
 'enron',
 'methanol',
 'meter',
 'follow',
 'note',
 'gave',
 'monday',
 'preliminary',
 'flow',
 'data',
 'provided',
 'daren',
 'please',
 'override',
 'pop',
 'daily',
 'volume',
 'presently',
 'zero',
 'reflect',
 'daily',
 'activity',
 'obtain',
 'gas',
 'control',
 'change',
 'needed',
 'asap',
 'economics',
 'purposes']