In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("HousingData_Clean.csv", index_col=0) # Okurken
df.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [6]:
df.to_csv('Housing2.csv', index=False) # Oluştururken

In [7]:
X = df.drop(columns=["MEDV"])  #Girdi matrixi
y = df["MEDV"] # Çıktı vektörü

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=0.3)

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
e